<div class="definitionPortion">
  <h2>Définition des portions</h2>
  <form [formGroup]="portionDefinitionForm" (ngSubmit)="onSubmit(portionDefinitionForm.value)">
    <div> 
      <label for="name">Aliment : </label>
      <select formControlName="aliment">
        <option *ngFor='let aliment of aliments' [ngValue]="aliment">{{aliment.name}}</option>

      </select>
    </div>
    <div>
      <label for="selectedPortion">Portion (g) : </label>
      <input id="selectedPortion" type="number" formControlName="quantity">
    </div>

    <button class="button" type="submit">Ajouter</button>

  </form>
  <br>
</div>

<div class="listePortionsAjoutees">
  <br>
  <p class="center">Charge Totale : <span>{{globalCharge|number:'1.2-2'}}</span> </p>
  <h2>Liste des portions ajoutées</h2>
  <table>
    <thead>
      <tr>
        <th>Nom de l'aliment</th>
        <th>Index glycémique</th>
        <th>Proportion de glucide (g)</th>
        <th>Charge glycémique calculée</th>
        <th> Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let portion of portions; index as portionId">
        <td class="center">{{portion.aliment.name}}</td>
        <td class="center">{{portion.aliment.ig}}</td>
        <td class="center">{{portion.calculatedGlucideProportion|number:'1.2-2'}}</td>
        <td class="center">{{portion.calculatedCharge|number:'1.2-2'}}</td>
        <td><button (click)='deletePortion(portionId)'>Supprimer</button></td>
      </tr>
    </tbody>
  </table>
  <br>
</div>
