table{
    background-color: lightslategrey;
    color : white;
    border-color: yellow;
    border:4px solid;
    margin :auto;
    width: auto;
}

th{
    font-weight: bold;
    border-color: yellow;
    border:1px solid;
}

td{
    border-color: yellow;
    border:0.1px solid;
}


.center{
    text-align: center;
}

h2{
    text-align: center;
}

div{
    display : flex;
    justify-content: center;
    line-height: 0;
}
select{
    size: 50%;
}